@page
@model MyRazorProject.Pages.CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ی جدید";
}
<form align="center" method="post">
    <label for="Title">عنوان مقاله</label>
    <input type="text"name="Title" />
    <br />
    <label for="Picture">عکس</label>
    <input type="text"name="Picture" />
    <br />
    <label for="PictureAlt">ALT عکس </label>
    <input type="text" name="PictureAlt" />
    <br />
    <label for="PictureTitle">عنوان عکس</label>
    <input type="text"name="PictureTitle" />
    <br />
    <label for="ShortDescription">توضیحات کوتاه</label>
    <input type="text"name="ShortDescription" />
    <br />
    <label for="Body">متن مقاله</label>
    <input type="text"name="Body" />
    <br />
    <button type="submit">ایجاد مقاله</button>
</form>
