@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 align="center"style="background-color:royalblue">@ViewData["Massage"]</h1>
    <form align="center" method="post">
        <input type="text" name="name"value="x" />
        <button type="submit">Create</button>
    </form>
</div>
